.img-responsive {
    display: inline-block;
    height: 400px;
    text-align:center;

}

.my_form {
    width: 40%;
    margin: 0 auto;
    float: none;

}

.myy {
    display: flex;
    justify-content:center;
}

.description {
    width: 90%;
    color: #555;
    border: 1px solid #D17E75;
    border-radius: 4px;
}

body {
    font-family: "Ubuntu", Helvetica, Arial, sans-serif!important;
}

a {
    color: grey;
}

.custom {
    width: 65px !important;
}

.rounded {
    border: 1px solid #D17E75;
    border-radius: 5px;
}


.dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.dropdown.open .dropdown-menu {
    max-height: 300px;
    opacity: 1;
}