<!doctype html>
<html>
    <head>
        {% load static %}
        <meta charset = "utf-8">
        <title>
        {% block title %}
        Tytuł strony
        {% endblock %}
        </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel='stylesheet' type='text/css' href='{% static "main.css" %}'>
    </head>
    <body>
        {% block content %}
        {% endblock %}
        {% block footer %}
            <br>
            <footer class="container-fluid text-center foot">
                <p>(c)Dominika, 2017</p>
            </footer>
        {% endblock %}
    </body>
    <script src = "{% static 'js/libs/jquery-3.2.1.min.js' %}"></script>
    <script src = "{% static 'js/ajax_functions.js' %}"></script>
</html>

