{% extends "base.html" %}

{% block title %}
    Strona główna
{% endblock %}

{% block content %}
    <div class="container">
    <div class="row text-center text-lg-left">
        {% for product in products %}
            <div class="row">
            <div class="col-sm-4">
                <img src="{{ product.image.url }}" class="img-responsive"/>
                <p><a href="/product/{{ product.id }}/"> {{ product.name }}</a></p>
                <div>
                    <strong class="like_count">{{ product.quantity_of_likes }}</strong>

                    <button {% if product.like_dislike_user %}disabled{% endif %} data-prod="{{ product.id }}"
                            class="likes btn btn-primary" type="button">
                        <span class="glyphicon glyphicon-thumbs-up"></span>
                        Like
                    </button>

                    <strong class="dislike_count">{{ product.quantity_of_dislikes }}</strong>

                    <button {% if product.like_dislike_user == False %}disabled{% endif %} data-prod="{{ product.id }}"
                            class="dislikes btn btn-danger" type="button">
                        <span class="glyphicon glyphicon-thumbs-down"></span>
                        Dislike
                    </button>
                </div>
                <hr>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}



