{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row content">
            <div class="col-sm-6">
                <h1>{{ product.name }}</h1>
                <img class="img-responsive" src="{{ product.image.url }}"/><br>
                <strong class="like_count">{{ product.quantity_of_likes }}</strong>

                <button {% if product.like_dislike_user %}disabled{% endif %} data-prod="{{ product.id }}"
                        class="likes btn btn-primary" type="button">
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                    Like
                </button>

                <strong class="dislike_count">{{ product.quantity_of_dislikes }}</strong>

                <button {% if product.like_dislike_user == False %}disabled{% endif %} data-prod="{{ product.id }}"
                        class="dislikes btn btn-danger" type="button">
                    <span class="glyphicon glyphicon-thumbs-down"></span>
                    Dislike
                </button>
                <br><br>
                <div class="description">Opis : {{ product.description }}</div>
            </div>
            <div class="col-sm-6">
                <br>
                <h4>Komentarze:</h4>
                <hr>
                <div class="row">
                    <div id="comments" class="col-sm-12">
                        {% for comment in comments %}
                            <div>
                                <div class="editing-comment">{{ comment.content }}</div>
                                {% if user.is_authenticated and comment.author == user %}
                                    <button class="delete-button btn btn-default btn-sm custom" type="button"
                                            style="float: right"
                                            data-comment="{{ comment.id }}">
                                        <span class="glyphicon glyphicon-trash"></span>
                                        <small>delete</small>
                                    </button>
                                {% endif %}
                                {% if user.is_authenticated and comment.author == user %}
                                    <button class="edit-button btn btn-default btn-sm custom" type="button"
                                            style="float: right"
                                            data-comment="{{ comment.id }}">
                                        <span class="glyphicon glyphicon-edit"></span>
                                        <small class="edit-button-text">edit</small>
                                    </button>
                                {% endif %}
                                <p> {{ comment.author }},
                                    <small>  {{ comment.date | date:"d/m/Y G:i" }}</small>
                                </p>
                                <hr>
                            </div>

                        {% endfor %}
                        <div class="new"></div>
                    </div>
                    <textarea id="comment-input" rows="4" cols="70" placeholder="Comment..."></textarea><br><br>
                    <button data-prod="{{ product.id }}" id="comment"
                            class="btn btn-primary" type="button">
                        <span class="glyphicon glyphicon-comment"></span>
                        Add comment
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
